* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0f172a;
  color: #fff;
}

/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(135deg, #2563eb, #9333ea);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 700;
}

.hero p {
  margin: 10px 0 20px;
  font-size: 1.2rem;
}

.btn {
  padding: 12px 30px;
  background: #fff;
  color: #2563eb;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.btn:hover {
  background: #000;
  color: #fff;
}

/* SECTIONS */
section {
  padding: 80px 10%;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

/* ABOUT */
.about p {
  max-width: 700px;
  margin: auto;
  text-align: center;
  color: #cbd5f5;
}

/* PROJECTS */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 40px;
}

.card {
  background: #111827;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  color: #9ca3af;
}

.btn-outline {
  display: inline-block;
  margin-top: 15px;
  padding: 8px 18px;
  border: 1px solid #2563eb;
  border-radius: 20px;
  text-decoration: none;
  color: #2563eb;
  transition: 0.3s;
}

.btn-outline:hover {
  background: #2563eb;
  color: white;
}

/* SKILLS */
.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

.skills-list span {
  background: #1e293b;
  padding: 8px 16px;
  border-radius: 20px;
  border: 1px solid #2563eb;
  font-size: 0.9rem;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
  color: #94a3b8;
  font-size: 0.9rem;
}
